*{
  background-color:black;
  margin: 0 auto;
}
a, h5{
  color:white;
  font-size: 12px;
  text-decoration:none;
}
p{
  width:100px
}
img{
  width:100px;
  height:150px
}
div.container#popular {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: left;
  align-items: left;
}
#movie-item{
  display:float;
  padding: 10px;
}
div.container{
  display:flex;
}
#left-right{
  display:flex;
  padding-left:1200px;
}
#category-links{
  display: flex;
}
