*{
  margin:0;
  padding:0;
}
a{
  color:white;
  text-decoration: none;
}
body{
  height:100vh;
  width: 100%;
  background-color:#262626;
  display:block;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
.carousel{
  height:250px;
  width:80%;
  position: relative;
}

.carousel.switchLeft,
.carousel.switchRight
{
  color:white;
  font-weight:bold;
  height:100%;
  width:45px;
  line-height:250px;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  background-color: lightgreen;
  z-index:3;
  top:0;
}

.carousel.switchLeft{
  position: absolute;
  right:-50px;
}
.carousel.switchRight{
  position: absolute;
  right: -50px;
}

.carouselbox{
  height:250px;
  width: auto;
  white-space: nowrap;
  display: inline-block;
  text-align:center;
  padding-bottom: 10px !important;
  display: flex;
  align-items:center;
}

.carouselbox img{
  min-width: 147px;
  max-width:147px;
  height:200px;
  background-size: cover;
  background-color: lightgreen;
  margin: 5px 10px;
  cursor: pointer;
  z-index:2;
}
p{
  color: white;
  text-decoration:none;
}